section.page.home
  div(data-hook="error-container")

  //- jumbotron
  div.jumbotron
    div.container
      div.picoverlay
        picture
          source(data-srcset="/images/finerpoints_100w.jpg 100w, /images/finerpoints_100w.jpg 100w" media="--small")
          source(data-srcset="/images/finerpoints_200w.jpg 200w, /images/finerpoints_200w.jpg 200w" media="--medium")
          source(data-srcset="/images/finerpoints_300w.jpg 300w, /images/finerpoints_300w.jpg 300w" media="--large")
          source(data-srcset="/images/finerpoints_600w.jpg 600w")
          img.lazyload(data-src="holder.js/50px56p?theme=custom&text=%EF%80%B0&auto=yes" data-sizes="auto")
        div.caption
          h1(data-hook="outl-a.a")

  //- grid content
  div.container
    div.row
      div.col-sm-12
        p.text-center(data-hook="outl-a.b")
    div.row
      div.col-sm-12.col-md-3
        p.text-center &nbsp;
      div.col-sm-12.col-md-6
        p.text-center
          ul.list-group(data-hook="pod-list")
      div.col-sm-12.col-md-3
        p.text-right &nbsp;
    //- pager
    div.row
      div.col-sm-12(data-hook="paginator")
    
