div.row
  div.col-sm-8
    h2(data-hook="title")
    h3(data-hook="subtitle")
    div(data-hook="content")

  div.col-sm-4
    div.text-info.text-right
      p(data-hook="timestamp")
    div.text-muted.text-right
      small(data-hook="keywords")
