div.row
  div.col-sm-8
    div.card
      picture(data-hook="pic")
      h2.card-header.bg-light(data-hook="title")
      div.card-body
        h3.card-title(data-hook="subtitle")
        div.card-text(data-hook="content")

  div.col-sm-4
    div.text-info.text-right
      p(data-hook="timestamp")
    div.text-muted.text-right
      small(data-hook="keywords")
